/* Basic CSS for the navigation bar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(152, 152, 255);
  transition: background-color 0.2s ease;
  padding: 20px;
  display: flex;
}
nav:hover {
  background-color: lightgoldenrodyellow;
}

nav ul {
  list-style-type: none;
  align-content: center;
  margin-left: auto;

  /* padding: 0; */
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
